
<h2>Links</h2>

GRID:
@Html.ActionLink("BudgetAndPacing", "PacingGrid", "CampStats") |
@Html.ActionLink("Performance", "PerformanceGrid", "CampStats")
<br />
HTML:
@Html.ActionLink("BudgetAndPacing", "Pacing", "CampStats") |
@Html.ActionLink("Performance", "Pacing", "CampStats", new { showPerfStats = true }, null)
<br /><br />
