<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://test.daweb.directagents.local/progadmin/campaigns/dashboard</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://biz.directagents.local</MSDeployServiceURL>
    <DeployIisAppPath>DAWebTest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>RemoteAgent</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>DIRECTAGENTS\kslesinsky</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SecurityEntities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Entities.Security.SecurityEntities, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DirectAgents.Domain.Entities.Wiki.WikiContext" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Entities.Wiki.WikiContext, DirectAgents.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CakeExtracter.Data.CakeTraffic.CakeTrafficContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CakeExtracter.Data.CakeTraffic.CakeTrafficContext, CakeExtracter" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalProgContext" Order="9" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsTest;User ID=sa;Password=sp0ngbOb" Name="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsTest;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.ClientPortalProgContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsTD.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DAContext" Order="10" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb" Name="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.DAContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.Migrations.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ABContext" Order="15" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.ABContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsAB.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RevTrackContext" Order="16" Enabled="False">
          <Destination Path="Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.RevTrackContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsRT.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalSearchContext" Order="17" Enabled="False">
          <Destination Path="Data Source=tcp:daazure1.database.windows.net,1433;Initial Catalog=DirectAgents1;Persist Security Info=False;User ID=daadmin;Password=bObsp0ng;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:daazure1.database.windows.net,1433;Initial Catalog=DirectAgents1;Persist Security Info=False;User ID=daadmin;Password=bObsp0ng;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Contexts.ClientPortalSearchContext, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CakeExtracter.Data.UsersContext, CakeExtracter" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalContext" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalContext, ClientPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortal.Data.Contexts.ClientPortalDWContext" Order="20" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalDWContext, ClientPortal.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortal.Data.Entities.TD.TDContext" Order="21" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ClientPortal.Data.Entities.TD.TDContext, ClientPortal.Data" MigrationConfiguration="ClientPortal.Data.Migrations.Configuration, ClientPortal.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ABContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CakeExtracter.Data.CakeTraffic.CakeTrafficContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortal.Data.Contexts.ClientPortalDWContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortal.Data.Entities.TD.TDContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalSearchContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:daazure1.database.windows.net,1433;Initial Catalog=DirectAgents1;Persist Security Info=False;User ID=daadmin;Password=bObsp0ng;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DAContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalProgContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=DirectAgentsTest;User ID=sa;Password=sp0ngbOb;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirectAgents.Domain.Entities.Wiki.WikiContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RevTrackContext-Web.config Connection String">
      <ParameterValue>Data Source=.\sqlexpress;Initial Catalog=DirectAgentsDev;User ID=sa;Password=sp0ngbOb</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SecurityEntities-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CakeExtracter.Data.CakeTraffic.CakeTrafficContext" />
    <_ConnectionStringsToInsert Include="ClientPortal.Data.Contexts.ClientPortalDWContext" />
    <_ConnectionStringsToInsert Include="ClientPortal.Data.Entities.TD.TDContext" />
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="DirectAgents.Domain.Entities.Wiki.WikiContext" />
  </ItemGroup>
</Project>