<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dagents-staging.azurewebsites.net/ProgAdmin/Campaigns/Dashboard</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dagents-staging.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>dagents__staging</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$dagents__staging</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ClientPortalSearchContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Contexts.ClientPortalSearchContext, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SecurityEntities" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Entities.Security.SecurityEntities, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DirectAgents.Domain.Entities.Wiki.WikiContext" Order="10" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DirectAgents.Domain.Entities.Wiki.WikiContext, DirectAgents.Domain" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CakeExtracter.Data.CakeTraffic.CakeTrafficContext" Order="11" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CakeExtracter.Data.CakeTraffic.CakeTrafficContext, CakeExtracter" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CakeExtracter.Data.UsersContext, CakeExtracter" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalContext" Order="13" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalContext, ClientPortal.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortal.Data.Contexts.ClientPortalDWContext" Order="14" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ClientPortal.Data.Contexts.ClientPortalDWContext, ClientPortal.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ABContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.ABContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsAB.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="RevTrackContext" Order="16" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.RevTrackContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsRT.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortalProgContext" Order="17" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.ClientPortalProgContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.MigrationsTD.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DAContext" Order="18" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DirectAgents.Domain.Contexts.DAContext, DirectAgents.Domain" MigrationConfiguration="DirectAgents.Domain.Migrations.Configuration, DirectAgents.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ClientPortal.Data.Entities.TD.TDContext" Order="19" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="ClientPortal.Data.Entities.TD.TDContext, ClientPortal.Data" MigrationConfiguration="ClientPortal.Data.Migrations.Configuration, ClientPortal.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ABContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CakeExtracter.Data.CakeTraffic.CakeTrafficContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortal.Data.Contexts.ClientPortalDWContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortal.Data.Entities.TD.TDContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalProgContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ClientPortalSearchContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DAContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DirectAgents.Domain.Entities.Wiki.WikiContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RevTrackContext-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SecurityEntities-Web.config Connection String">
      <UpdateDestWebConfig>False</UpdateDestWebConfig>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CakeExtracter.Data.CakeTraffic.CakeTrafficContext" />
    <_ConnectionStringsToInsert Include="ClientPortal.Data.Contexts.ClientPortalDWContext" />
    <_ConnectionStringsToInsert Include="ClientPortal.Data.Entities.TD.TDContext" />
    <_ConnectionStringsToInsert Include="DefaultConnection" />
    <_ConnectionStringsToInsert Include="DirectAgents.Domain.Entities.Wiki.WikiContext" />
  </ItemGroup>
</Project>