<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BingApiToken" value="EW65911AO"/>
    <add key="BingApiUsername" value="API_DanielOwen"/>
    <add key="BingApiPassword" value="agentdan1"/>
    <add key="BingReportFolder" value="C:\Downloads"/>
    <add key="BingReportFilename" value="bingrep.zip"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICampaignManagementService" sendTimeout="00:03:00">
          <security mode="Transport"/>
        </binding>
        <binding name="BasicHttpBinding_IReportingService" sendTimeout="00:03:00">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
